
/*Main Color*/
.home_type .side #typed,
.home_type .more_info a:hover,
.menu .social-icons a:hover,
.menu .active_item,
.mob-menu .menu-title,
.menu .menu_list li a:hover,
.testimonials .arrows span:hover,
.fun-facts span,
.portfolio_sec  .item .info p,
.zoom-anim-dialog .project_info span,
.contact .info span.icon {
    color: #F2D271;
}

/*  */
.skills .skill div span,
.resume .date:after,
a.rslides_nav.rslides1_nav:hover,
li.active_filter:after,
.zoom-anim-dialog a.demo:hover,
.contact .contact_form .submit:hover {
    background-color: #F2D271;
}

.contact .contact_form .submit,
.home_type .more_info a:hover,
.testimonials .arrows span:hover,
.fun-facts h4,
.resume .item,
.zoom-anim-dialog a.demo,
.form-control:focus,
.contact .contact_form .submit:hover {
    border-color: #F2D271;
}

g.Header {
    stroke: #F2D271;
}

.rainbow-color,
.menu .active_item, .menu .menu_list li a:hover,
.services h3 {
    background-image: linear-gradient(to left, #F2D271,  #E61B25);
    -webkit-background-clip: text;
    color: transparent;
}